<!-- layout file includes stylesheets and external js libraries -->
<% layout('layout') -%>

<script src="/javascripts/bargraph_helper.js"></script>
<h1><%= title %></h1>
<br>

<div name="bargraph-container">
  <p>Below is a chart of the user <b><%= user %></b>'s nodes per date</p>
  <svg class="chart" id="chart1"></svg>

  <div class="loader" >
    <span>Loading</span>
    <img src="/images/ajax-loader.gif"/>
  </div>
</div>

<script>
var localData;

function fetchNodes(username) 
{
    var url = '/nodes?username='+username;//+"&date="+start_date+"&end_date=1963609460000";
    toggleLoader('Fetching nodes for user '+username);

    $.get(url).done(function(results) {
        localData = results;
        chart("#chart1","key","date");
        toggleLoader();
    });
}

// Get username from URL
var theUser = <%- JSON.stringify(user) %>
var start_date = <%- JSON.stringify(start_date) %>

function chart(id, sort_by_key_or_value, field)
{
  $(id).empty();
  // the countField function counts the frequency of each value present in the desired field
  if (localData.length > 30)
  {
    chartData = bucketByTime('day', localData);
  }
  else
  {
    chartData = countField('date', localData);
  }
  // sort the timestamps to appear in chronological order
  sort(chartData,sort_by_key_or_value); 
  drawBarGraph(chartData, id);
}

function toggleLoader(message) 
{
  if (message) 
  {
    $('.loader').show().find('span').text(message);
    return;
  }
  $('.loader').hide();
}

// Actually get the data
fetchNodes(theUser);

</script>

<div>
  <button onClick="chart('#chart1','key','date')">Sort by Time</button>
  <button onClick="chart('#chart1','value','date')">Sort by Frequency</button>
</div>