<!-- layout file includes stylesheets and external js libraries -->
<% layout('layout') -%>

<script src="/javascripts/bargraph_helper.js"></script>
<center><h1><b><%= user %></b>'s node edits by date</h1>
<br>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <label class="sr-only" for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Search for a new user...">
    </div>
  </div>
</form>

<div name="bargraph-container" id="bargraph-container" style="overflow:auto">
  <svg class="chart" id="chart1"></svg>

  </center>
  <div class="loader" >
    <span>Loading</span>
    <img src="/images/ajax-loader.gif"/>
  </div>
</div>

<% if (!start_date) { %>
<%    start_date = "_";} %>
<% if (!end_date) { %>
<%    end_date = "_";} %>

<script>

var localData;

// Get username from URL
var theUser = <%- JSON.stringify(user) %>;
var start_date = <%- JSON.stringify(start_date) %>;
var end_date = <%- JSON.stringify(end_date) %>;

var userList;

// Actually get the data
$( document ).ready(function() {
  fetchNodes(theUser);
  getAutoCompleteData();
});

function getAutoCompleteData()
{
  $.get('/autocomplete').done(function(results) {
      userList = results;

      var finalList = [];

      for(var user in userList) 
      {
        finalList.push({value: userList[user], data: "null"});
      }

      $('#username').autocomplete({
        lookup: finalList,
        lookupLimit: 10,
        onSelect: function (suggestion) {
            window.location.href = "/bar_graph?username="+suggestion.value;
        }
      });
  });
}

function toggleLoader(message) 
{
  if (message) 
  {
    $('.loader').show().find('span').text(message);
    return;
  }
  $('.loader').hide();
}

function fetchNodes(username) 
{
    var url = '/nodes?username='+username+'&date='+start_date+'&end_date='+end_date;
    toggleLoader('Fetching nodes for user '+username);

    $.get(url).done(function(results) {
        toggleLoader();
        if (results.length != 0)
        {
          localData = results;
          chart("#chart1","key","date", username);
        }
        else
        {
          $('#bargraph-container').html("<h2>No nodes found :((</h2>");
        }

        $(function() {
        $( "#from" ).datepicker({
          dateFormat: "yy-mm-dd",
          defaultDate: localData[0].date.split("T")[0],
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 1,
          onClose: function( selectedDate ) {
            $( "#to" ).datepicker( "option", "minDate", selectedDate );
          }
        });
        $( "#to" ).datepicker({
          dateFormat: "yy-mm-dd",
          defaultDate: localData[localData.length-1].date.split("T")[0],
          changeMonth: true,
          changeYear: true,
          numberOfMonths: 1,
          onClose: function( selectedDate ) {
            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
            
            var start = $("#from").datepicker("getDate");
            var start_day = start.getDate();
            var start_month = start.getMonth() + 1; // Months are zero based
            var start_year = start.getFullYear();
            if (start_month < 10)
            {
              start_month = "0" + start_month;
            }
            if (start_day < 10)
            {
              start_day = "0" + start_day;
            }
            var start_formatted = start_year + "-" + start_month + "-" + start_day;

            var end = $("#to").datepicker("getDate");
            var end_day = end.getDate();
            var end_month = end.getMonth() + 1; // Months are zero based
            var end_year = end.getFullYear();
            if (end_month < 10)
            {
              end_month = "0" + end_month;
            }
            if (end_day < 10)
            {
              end_day = "0" + end_day;
            }
            var end_formatted = end_year + "-" + end_month + "-" + end_day;

            window.location.href = "/bar_graph/?username="+theUser+"&start_date="+moment.utc(start_formatted)+"&end_date="+moment.utc(end_formatted);
          }
        });
      });

    });
}

</script>

<center>

<div>
  <button type="submit" class="btn btn-default" onClick="chart('#chart1','key','date', theUser)">Sort by Time</button>
  <button type="submit" class="btn btn-default" onClick="chart('#chart1','value','date', theUser)">Sort by Frequency</button>
</div>

<br>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-xs-5"></div>
    <div class="col-xs-2">
      <div class="row">
        <h4>Restrict date range</h4>
      </div>
      <div class="row">
        <label class="sr-only" for="from">Start Date</label>
        <input type="text" id="from" name="from" class="form-control" placeholder="Start date">
      </div>
      <div class="row">
        <br>
      </div>
      <div class="row">
        <label class="sr-only" for="to">End Date</label>
        <input type="text" id="to" name="to" class="form-control" placeholder="End date">
      </div>
    </div>
  </div>
</form>


</center>