<% layout('layout') -%>
    <h1><%= title %></h1>
    <p>Below is a chart of the user <b><%= user %></b>'s nodes per timestamp</p>
    <svg class="chart"></svg>

    <script>
    var chartData = [];
    var timeStamps = {};

    // Extract the backend Express data (all nodes stored in the variable name 'data')
    var localData = <%- JSON.stringify(data) %>;

    // Loop over all nodes and create a timestamp dictionary to count the occurence of each timestamp
    for (var i = localData.length - 1; i >= 0; i--) {
      if (timeStamps[localData[i].properties.timestamp])
      {
        timeStamps[localData[i].properties.timestamp]++;
      }
      else
      {
        timeStamps[localData[i].properties.timestamp] = 1;
      }
    };

    chartData = [];

    // Add the timestamp counts to the chart data list
    for(var val in timeStamps) 
    { 
      chartData.push({value: timeStamps[val], stamp: val}); 
    };

    var width = 420+100,
        barHeight = 25;

    var x = d3.scale.linear()
        .domain([0, d3.max(chartData, function(d) { return +d.value; })])
        .range([0, width-100]);

    var chart = d3.select(".chart")
        .attr("width", width)
        .attr("height", barHeight * chartData.length);

    var bar = chart.selectAll("g")
        .data(chartData)
      .enter().append("g")
        .attr("transform", function(d, i) { return "translate(100," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("width", function(d) { return x(+d.value); })
        .attr("height", barHeight - 1);

    bar.append("text")
        .attr("x", function(d) { return x(d.value) - 3; })
        .attr("y", barHeight / 2)
        .attr("dy", ".35em")
        .text(function(d) { return d.value; });

    bar.append("text")
        .attr("class", "label")
        .attr("x", -50)
        .attr("y", barHeight/2+4)
        .text(function(d) { return d.stamp; });

    </script>

    <p>This is a list of all timestamps found (limit 200):</p>
    <ul>
    <% for (var i = 0; i < data.length; i++)  {%>
      <li><%= data[i].properties.timestamp %></li>
    <% } %>

