<% layout('layout') -%>


<div class="container-fluid" id="WellPadding">
	<div class="row">
		<div class="col-xs-6">
		  <div class = "well well-lg" id="well1" onclick = "window.location = 'base2.html'">
		    <h2>Map</h2><br>
		    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Port-Au-Prince_and_Carrefour_map.png/800px-Port-Au-Prince_and_Carrefour_map.png" height="200" width="200"/>
		  </div>
		</div>
		<div class="col-xs-6">
	  	<div class="well well-lg" id="well2" onclick = "window.location = 'base2.html'">
	    	<h2>Analytics</h2><br>
	    	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Histogram_example.svg/361px-Histogram_example.svg.png" height="200" width="200"/>
	  	</div>
		</div>

		<ul class="features">
			<li>
				Replay a day of node additions in a city
				<ul>
					<li>
						<a href="/map?lat=18.5333&lon=-72.3333&date=1263366000000">See</a> 
						Haiti nodes the day after the 2010 Haiti earthquake struck (1/13/2010). Make sure the haiti database is selected at the top of the screen. 
					</li>
					<li>
						<a href="/map?lat=40.0176&lon=-105.2797&date=1354431600000">See</a> 
						Boulder nodes on December 2, 2013. Make sure you have the denver_boulder database selected at the top of the screen.
					</li>
				</ul>
			</li>
			<li>
				Bar Graph Visualizations:
				<ul>
					<li>
						<a href="/bar_graph?username=woodpeck_fixbot">See</a> 
						a visualization of nodes per timestamp by user woodpeck_fixbot. Make sure you have the denver_boulder database selected at the top of the screen.
					</li>
				</ul>
			</li>
			<li>
				Line Graph Visualizations:
				<ul>
					<li>
					<a href="/line_graph?start=1193439795000&end=1387311499000&bound=2000">See</a>
					a visualization of nodes vs time. Make sure you have the denver_boulder database selected at the top of the screen. 
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>     

<!-- 
<h3>Welcome to OSM History viewer</h3>

<br/>
<br/>


 -->