<% layout('layout') -%>
Welcome to OSM History viewer

<br/>
<br/>
Prototypes:

<ul>
	<li>
		<a href="/d3/woodpeck_fixbot">See</a> a visualization of nodes per timestamp by user woodpeck_fixbot.
	</li>
	<li>
		<a href="/users/woodpeck_fixbot/nodes">See</a> all nodes by user woodpeck_fixbot.
	</li>
	<li>
		<a href="/map?lat=40.0176&lon=-105.2797">See</a> Boulder nodes on a map.
	</li>
</ul>