<!DOCTYPE html>
<html>
  <head>
    <title>OSM History</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/chart.css" />
    <link rel="stylesheet" href="/stylesheets/leaflet.css" />
    <link rel="stylesheet" href="/stylesheets/leaflet.markercluster.css" />
    <link rel="stylesheet" href="/stylesheets/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="/stylesheets/c3.css"/>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/javascripts/lodash.js"></script>
    <script src="/javascripts/leaflet.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/d3.js"></script>
    <script src="/javascripts/leaflet.markercluster.js"></script>
    <script src="/javascripts/main.js"></script>

  </head>
  <body>
    <header>
      <a href="/">OSM History Viewer</a>

      <span class="currentDb">Current DB: <%= currentDb %></span>
      <span class="chooseDb">
        Choose a new DB:
        <select>
          <option value="">Choose...</option>
          <% allDbs.forEach(function(db) { %>
            <option value="<%= db %>"><%= db %></option>
          <% }) %>
        </select>
      </span>
    </header>
    <section id="main">
      <%-body -%>
    </section>
  </body>
</html>