<!-- layout file includes stylesheets and external js libraries -->
<% layout('layout') -%>

<link rel="stylesheet" type="text/css" href="/css/c3.css">
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/javascripts/c3.min.js"></script>
<script src="/javascripts/c3.js"></script>
<script src="/javascripts/linegraph_helper.js"></script>
<script src="/javascripts/bargraph_helper.js"></script>

<h1><%= title %></h1>
<br>

<div id="the_chart"></div>

<script>
var localData = <%- JSON.stringify(data) %>;
sort(localData,'date');
var data = countField('date', localData);
result = processData(data);

var x_array = result[0];
var y_array = result[1];

var chart = c3.generate({
    bindto: '#the_chart',
    data: {
        x: 'x',
        columns: [
            x_array,
            y_array 
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d'
            }
        }
    },
});



</script>





