<!-- layout file includes stylesheets and external js libraries -->
<% layout('layout') -%>

<div id="map-container">
	<div class="results-count">
		<span class="count"></span> nodes created on <span class="date"></span>
	</div>
	<div class="time">

	</div>
	<div id="map" 
		data-lat="<%= lat %>" data-lon="<%= lon %>" data-date="<%= date %>" data-username="<%= username %>"></div>

	<div class="playback-options">
		<button class="replay">Replay</button> 
		<span>At <input type="text" value="100" id="framerate"/> nodes/second</span>
		<div>
			<button class="refetch">refetch</button> 
			<span>for current map bounds.</span>
		</div>
	</div>

	<div id="calendar"></div>
	<div class="users">
	</div>

	<script type="text/ejs" id="userTemplate">
		<div data-user="{{ name }}" data-count="{{ count }}">
			<span class="name">{{ name }}</span>
			<span class="count">{{count}}</span>
			<span class="bar"></span>
		</div>
	</script>


	<div class="loader">
		<span>Loading</span>
		<img src="/images/ajax-loader.gif"/>
	</div>
</div>
