<!-- layout file includes stylesheets and external js libraries -->
<% layout('layout') -%>

<div class="results-count"></div>
 <div id="map" data-lat="<%= lat %>" data-lon="<%= lon %>"></div>

<div id="calendar"></div>