.chart rect {
  fill: steelblue;
}

.chart rect:hover {
  fill: #64707D;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart text.label {
  fill: black;
  font: 12px sans-serif;
  text-anchor: middle;
  font-weight: bold;
}