body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header {
  padding: 10px;
  background: lightgray;
}
header span.currentDb {
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  margin: 0 10px;
}
header a {
  text-decoration: none;
  color: darkblue;
  border-bottom: 1px dashed darkblue;
}
#main {
  padding: 20px;
}
a {
  color: #00B7FF;
}
#map {
  height: 300px;
}
