#MainPadding {
  padding-top: 60px;
  padding-bottom: 20px;
}
#ButtonPadding {
  padding-top: 5px;
  padding-bottom: 5px;
}

#WellPadding {
  padding-top: 20px;
}

#well1 {
  background-color: #E5E5E5;
}

#well2{
  background-color: #E5E5E5;
}

#Picture { 
  height = 100px;
  width = 100px;
}

.navbar-collapse {
	padding:15px;
}
.navbar-collapse > * {
	margin-right:10px;
  top:-5px;
  float:left;
}
.navbar-collapse .date-select {
  width:200px;
  display: none;
}
.navbar-collapse .date-select.visible {
  display:table;
}

#ui-datepicker-div {
  z-index: 2000 !important;
}

ul.features {
	float:left;
	clear:both;
}

.index-page #mapForm {
  margin-top:20px;
}
.index-page .interesting-days {
  margin-top:20px;
}